/*СКРЫТЫЙ КЛАСС*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
}

/* Общий CSS */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;

  // outline: 1px solid red;
}

ul,
li {
  list-style-type: none; /* УБИРАЮ МАРКЕРЫ */
}

h1,
h2,
h3,
h4,
ul,
li,
p {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

a {
  text-decoration: none; /* Отменяю подчеркивание у ссылок */
  background: transparent;
  font-style: normal;
}

a:active,
a:focus {
  outline: var(--focus-outline);
}

:focus {
  outline: var(--focus-outline);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;

  margin: auto;
  background: var(--main-background-color);
  text-align: center;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background: transparent;
  cursor: pointer;
}

main {
  text-align: center;
  background: var(--white-color);
}

.container {
  display: flex;
  margin: auto;
  padding: var(--standart-94px) var(--standart-15px);
  text-align: center;
  max-width: 1200px;
  align-items: center;
  width: 100%;
}

.section {
  display: block;
  margin: auto;
  max-width: 1200px;
  padding: var(--standart-94px) var(--standart-15px);
  text-align: center;
  width: 100%;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: var(--standart-50px);
}
