.form-mailing {
  width: 100%;
  justify-content: flex-end;

  &__title {
    font-size: 14px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    padding-top: var(--standart-60px);
    @media (max-width: $phone-width-divider) {
      padding-bottom: var(--standart-20px);
    }
    @media (min-width: $tablet-width-divider) {
      text-align: left;
    }
  }

  &__email-label {
    display: inline-flex;
    min-width: 219px;
    width: 100%;
    flex-direction: column;
  }

  &__email-input,
  &__email-input::placeholder {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: var(--passive-link-color-footer);
  }

  &__email-input {
    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px var(--black-15color));
    border-radius: 4px;
    background-color: transparent;

    width: 58.59%;
    margin: 0 19.79% var(--standart-20px) 21.61%;

    @media (max-width: $phone-width-divider) {
      margin: 0 0 var(--standart-20px) 0;
      width: 100%;
    }

    @media (min-width: $tablet-width-divider) {
      max-width: 358px;
    }
  }

  &__text {
    @extend .form-mailing__title;
    padding: 0;
    margin: auto 0;
    text-transform: capitalize;
    font-size: 16px;
    line-height: 1.875;
  }

  &__subscribe-button {
    @extend %standart-button;

    min-width: 200px;
    height: 50px;
    letter-spacing: 0.06em;
    display: inline-flex;
  }

  &__subscribe-button:hover {
    background-color: var(--button-hover-color);
  }

  &__button-icon {
    margin: auto 0 auto 10px;
  }
}
