.form-mailing {
  width: 100%;
  justify-content: flex-end;
  padding: 60px 6px 0 20px;
  @media (max-width: $phone-width-divider) {
    padding: 0;
  }

  @media (min-width: $tablet-width-divider) {
    display: inline-block;
  }
  @media (min-width: $tablet-width-divider) {
    display: flex;
    width: 570px;
    padding: 0;
  }

  &__title {
    font-size: 14px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    font-weight: bold;
    text-align: center;
    margin-bottom: var(--standart-20px);
    @media (max-width: $phone-width-divider) {
      padding: 0;
    }
    @media (min-width: $tablet-width-divider) {
      padding-top: 0;
      text-align: left;
    }
  }

  &__email-label {
    display: inline-flex;
    min-width: 219px;
    width: 100%;
    flex-direction: column;
    margin: 0 auto var(--standart-20px) auto;
    @media (max-width: $phone-width-divider) {
      margin: 0 0 var(--standart-20px) 0;
    }

    @media (min-width: $tablet-width-divider) {
      margin: 0;

      @media (max-width: 1080px) {
        margin-bottom: var(--standart-20px);
      }
    }
  }

  &__email-input {
    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px var(--black-15color));
    border-radius: 4px;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;

    height: 50px;
    max-width: 450px;
    width: 100%;

    @media (max-width: $phone-width-divider) {
      width: 100%;
    }

    @media (min-width: $tablet-width-divider) {
      max-width: 358px;
    }
  }

  &__email-input,
  &__email-input::placeholder {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: var(--passive-link-color-footer);
  }

  &__text {
    @extend .form-mailing__title;
    padding: 0;
    margin: auto 0;
    text-transform: capitalize;
    font-size: 16px;
    line-height: 1.875;
  }

  &__subscribe-button {
    @extend %standart-button;

    min-width: 200px;
    height: 50px;
    letter-spacing: 0.06em;
    display: inline-flex;
    margin: auto;

    @media (min-width: $tablet-width-divider) {
      margin-bottom: 0;
      margin-left: 12px;
      @media (max-width: 1080px) {
        display: block;
        margin-left: auto;
      }
    }
  }

  &__subscribe-button:hover {
    background-color: var(--button-hover-color);
  }

  &__button-icon {
    margin: auto 0 auto 10px;
  }
}
