.footer {
  @extend .section;
  padding-bottom: 0;
  min-height: 252px;
  color: var(--white-color);
  background: var(--secondary-background-color);

  &__container {
    @extend .container;
    align-items: baseline;
    height: 100%;
    padding-bottom: var(--standart-60px);
  }

  &__title {
    font-size: 14px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    font-weight: bold;
    text-align: center;
    // text-align: left;
    @media (max-width: $phone-width-divider) {
      padding-top: var(--standart-60px);
      padding-bottom: var(--standart-20px);
    }
  }
}

.footer-contacts {
  text-align: center;
  // text-align: left;

  &__set {
    display: block;
    width: auto;
    // width: 231px;
  }

  &__link {
    display: block;
    padding-bottom: 9px;
  }

  &__link--map {
    color: var(--white-color);
  }

  &__link--contact {
    font-weight: normal;
    line-height: 1.71;
    color: var(--passive-link-color-footer);
  }
}

.made-by {
  text-align: center;
  color: var(--secondary-text-color);
}
