.header {
  margin: auto;
  border: 1px solid var(--border-color);
  background: var(--white-color);
  position: relative;
  text-align: left;
  align-items: center;
  min-height: 80px;
  width: 100%;
  display: flex;

  @media (max-width: $phone-width-divider) {
    height: 60px;
  }

  @media (min-width: $tablet-width-divider) {
    align-content: center;
  }

  &__container {
    @extend .container;
    width: 100%;
    display: inline-block;
    padding: var(--standart-20px) var(--standart-15px);
    margin: auto;
    display: inline-flex;
    justify-content: space-between;
    @media (max-width: $phone-width-divider) {
      padding: 16px var(--standart-15px);
    }
    @media (min-width: $tablet-width-divider) {
      padding: 24px var(--standart-15px) 25px;
    }
  }

  &__menu-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    height: auto;
    justify-content: flex-end;

    @media (max-width: $phone-width-divider) {
      display: block;
      background-color: var(--white-color);
      outline: 1px solid var(--white-color);
      width: 100%;
      height: 100%;
      min-width: $phone-width-divider;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 500;
      padding: 48px 40px;
      overflow-x: scroll;

      @media (max-width: $miniphone-width-divider) {
        overflow-x: scroll;
        min-width: 350px;
      }
    }

    @media (min-width: $tablet-width-divider) {
      max-width: 1200px;
    }
  }

  &__menu-container.is-hidden {
    @media (max-width: $phone-width-divider) {
      display: none;
    }
  }

  &__menu-button {
    @extend %standart-transition--color;
    display: none;
    top: 10px;
    right: 20px;
    width: 40px;
    height: 40px;
    z-index: 1500;
    fill: currentColor;
    position: absolute;

    @media (max-width: $phone-width-divider) {
      display: block;
    }
  }

  &__menu-button:hover {
    color: var(--active-link-color);
    @extend %standart-transition--color;
  }

  &__menu-button.is-open &__close-icon {
    display: block;
    color: inherit;
  }

  &__menu-button.is-open &__menu-icon {
    display: none;
    color: inherit;
  }

  &__close-icon {
    display: none;
    transform: translate(3px, 0);
  }
}

.header-nav {
  display: flex;
  font-weight: 500;
  letter-spacing: 0.02em;
  // margin: 0 calc(50vw - 312px);
  flex-wrap: wrap;
  width: 294px;
  justify-content: space-between;
  margin: auto;

  @media (max-width: $phone-width-divider) {
    display: block;
    margin-bottom: 306px;
    width: 100%;
  }

  @media (min-width: $tablet-width-divider) {
    margin-left: auto;
    width: 100%;
  }

  &__link {
    @extend %standart-transition--color;
    position: relative;
    color: var(--main-text-color);
    font-weight: 500;

    @media (max-width: $phone-width-divider) {
      width: 100%;
      font-size: 40px;
      line-height: 1.175;
      letter-spacing: 0.02em;
    }
  }

  &__link--current {
    color: var(--active-link-color);
  }

  &__link:hover,
  &__link:focus {
    @extend %standart-transition--color;
    color: var(--active-link-color);
  }

  &__link--current::after {
    @media (min-width: $phone-width-divider) {
      content: '';
    }
    width: 100%;
    height: 4px;
    color: white;
    background: var(--active-link-color);
    border-radius: 2px;
    position: absolute;
    left: 0;
    top: 44px;
    @media (max-width: 534px) {
      top: 56px;
    }
  }

  &__link--last::after {
    @media (max-width: 534px) {
      top: 31px;
    }
  }

  &__item {
    display: flex;
    @media (min-width: $tablet-width-divider) {
      margin: auto;
    }
  }

  &__item:not(:last-child) {
    @media (max-width: $phone-width-divider) {
      margin: 0 0 32px 0;
      // margin: auto 0;
    }

    // @media (max-width: 534px) {
    //   margin-bottom: 10px;
    // }
    @media (min-width: $tablet-width-divider) {
      margin: auto var(--standart-50px) auto 0;
    }
  }
}

.header-contacts {
  display: block;
  font-weight: 500;
  letter-spacing: 0.02em;
  flex-wrap: wrap;
  margin: 0 0 0 auto;
  width: 138px;
  height: 38px;

  @media (max-width: $phone-width-divider) {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 0 64px;
    min-width: $miniphone-width-divider;
    width: 100%;
    height: auto;
    padding: 0;
  }

  @media (min-width: $tablet-width-divider) {
    display: flex;
    margin: auto 0 auto auto;
    width: auto;
    padding: 0;
    height: auto;
    // @media (max-width: 900px) {
    //   width: 166px;
    // }
  }

  &__item {
    @extend %standart-transition--color;
    font-weight: 500;
    letter-spacing: 0.02em;
    @media (max-width: $phone-width-divider) {
      min-width: $miniphone-width-divider;
      width: 100%;
    }
    @media (min-width: $tablet-width-divider) {
      margin: auto 0;
    }
  }

  &__link {
    @extend %standart-transition--color;
    color: var(--passive-link-color);
    letter-spacing: 0.02em;
    font-size: 12px;
    line-height: 1.167;
    display: flex;
    @media (max-width: $phone-width-divider) {
      display: block;
      color: currentColor;
    }

    @media (min-width: $tablet-width-divider) {
      display: flex;
      align-items: center;
    }
  }

  &__link.menu__mail-link {
    line-height: 1.167;
    color: var(--passive-link-color);
    margin-bottom: var(--standart-10px);
    @media (max-width: $phone-width-divider) {
      margin-bottom: 0;
      line-height: 1.167;
      font-size: 24px;
    }
    @media (min-width: $tablet-width-divider) {
      margin: auto var(--standart-30px) auto 0;
    }
  }

  &__link.menu__tel-link {
    line-height: 1.167;
    @media (max-width: $phone-width-divider) {
      color: var(--active-link-color);
      display: flex;
      margin-bottom: 32px;
      line-height: 1.176;
      font-size: 34px;
    }
  }

  &__link:hover,
  &__link:focus,
  &__item:hover,
  &__item:focus {
    color: var(--active-link-color);
    @extend %standart-transition--color;
  }

  &__icon-container {
    cursor: pointer;
    fill: currentColor;
    margin-right: 8px;
    @media (max-width: $phone-width-divider) {
      display: none;
    }
  }
}

.contact--map {
  @extend %standart-transition--color;
}

.contact--map:hover,
.contact--map:focus {
  @extend %standart-transition--color;
  color: var(--active-link-color);
}
