.logo {
  font-family: var(--second-font);
  font-weight: 700;
  // font-size: 26px;
  line-height: 1.17;
  font-size: 24px;
  letter-spacing: 0.03em;

  &__first-word {
    color: var(--logo-main-color);
  }
}

.header__logo {
  color: var(--black-color);
  margin: auto 0;
}

.footer__logo {
  color: var(--white-color);
  line-height: 1.19;
  margin-bottom: 20px;
  display: inline-flex;

  @media (max-width: $phone-width-divider) {
  }
}
