.logo {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;

  &__first-word {
    color: var(--logo-main-color);
  }
}

.header__logo {
  color: var(--black-color);
}

.footer__logo {
  color: var(--white-color);
  line-height: 1.19;
}
