.work {
  display: none;
  @extend .section;

  @media (max-width: $phone-width-divider) {
    display: none;
  }
  @media (min-width: $tablet-width-divider) {
    display: block;
    margin: auto;
  }

  &__content {
    display: inline-flex;
    line-height: 0;
    vertical-align: bottom;
  }

  &__item:not(:last-child) {
    margin-right: var(--standart-30px);
  }

  &__thumb {
    position: relative;
  }

  &__picture {
    width: 370px;
  }

  &__description {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    position: absolute;
    background-color: rgba(47, 48, 58, 0.8);
    bottom: 0;
    width: 100%;
    padding: 27px 0;
    color: var(--white-color);

    margin-top: auto;
    margin-bottom: auto;
  }
}
