.clients {
  @extend .section;

  &__container {
    @extend .container;
    display: block;
  }

  &__title {
    @extend .section-title;
    font-weight: bold;
    // font-size: 36px;
    font-size: 28px;
    line-height: 1.167;
    letter-spacing: 0.03em;
  }

  &__set {
    display: flex;
    list-style: none;
    margin-left: calc(-1 * var(--standart-30px));
    margin-top: calc(-1 * var(--standart-30px));
    flex-wrap: wrap;
  }

  &__item {
    @extend %standart-transition--color_and_border;
    margin-left: var(--standart-30px);
    margin-top: var(--standart-30px);
    background: var(--white-color);
    display: inline-flex;
    border: 1px solid var(--grey-color);
    box-sizing: border-box;
    border-radius: 4px;
    height: 90px;
    cursor: pointer;

    flex-basis: calc((100% / 3) - var(--standart-30px));

    @media (max-width: $phone-width-divider) {
      flex-basis: calc((100% / 2) - var(--standart-30px));
    }

    @media (min-width: $tablet-width-divider) {
      flex-basis: calc((100% / 6) - var(--standart-30px));
    }
  }

  &__link {
    @extend %standart-transition--color_and_border;
    display: flex;
    margin: auto;
    // max-width: 210px;
    // min-width: 170px;
    fill: currentColor;

    justify-content: center;
    align-items: center;
    color: var(--passive-background-color);
  }

  &__item:hover &__link,
  &__item:focus &__link,
  &__item:hover,
  &__item:focus {
    color: var(--active-link-color);
    border-color: var(--active-link-color);
  }

  // &__icon {
  //   margin: auto;
  // }
}
