.team {
  @extend .section;
  // padding: 0px;
  background: var(--light-grey-color);
  max-width: 100%;

  &__container {
    @extend .container;
    @media (max-width: $phone-width-divider) {
      display: block;
    }
  }

  &__set {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + var(--standart-30px));
    margin-left: calc(-1 * var(--standart-30px));
    margin-top: calc(-1 * var(--standart-30px));

    @media (max-width: $phone-width-divider) {
      display: block;
    }
  }

  &__item {
    background: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media (min-width: $phone-width-divider) {
      flex-basis: calc((100% / 2) - var(--standart-30px));
      margin-left: var(--standart-30px);
      margin-top: var(--standart-30px);
    }

    // width: calc((100%) / 4 - 90px / 4);
  }

  &__item:not(:last-child) {
    @media (max-width: $phone-width-divider) {
      margin-bottom: var(--standart-30px);
    }
  }

  &__content {
    padding: var(--standart-30px);
    padding-bottom: 24px;
  }

  &__member {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    font-weight: 500;
    margin-bottom: 10px;
  }

  &__profession {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
    color: var(--secondary-text-color);
  }
}
